*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:'Quicksand' ,'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.profile-card {
    max-width: 100%;
    overflow: hidden;
}

header .head {
    display: flex;
    position: relative;
    height: 500px;
    background-image: url('thousand sunny.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -0;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705); 
    z-index: -0; 
}

.title-img img {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(60%);
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 999999;
}

.title-img h1 {
    display: flex;
    position: absolute;
    color: white;
    bottom: 7rem; 
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 600px; 
    justify-content: center;
    z-index: 999999;
}

main .info-me {
    padding: 3.5rem;
    background-color: rgb(25, 26, 27);
}

main .content {
    display: flex;
    background: rgb(1,3,5);
    background: linear-gradient(180deg, rgb(25, 26, 27) 30%, rgba(10,52,104,1) 100%); 
    padding: 3rem;
    padding-block-start: 6rem;
    margin-block-start: 0rem;
    border-radius: 3rem;
}

main .description-info {
    padding-inline-start: 3rem;
}

.description-info p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.half-underline {
    position: relative;
    display: inline-block;
}

.half-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid white; /* Ubah warna dan ketebalan sesuai kebutuhan */
}

.info tr td {
    padding: 10px;
    padding-inline-end: 5rem;
    padding-inline-start: 2rem; 
}

.info th {
    text-align: start;
    color: #83bb4f;
    font-family: 'Sedan', 'Poppins', sans-serif;
}

.social ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.social ul li {
    list-style: none;
    margin: 1rem;
}

.social li a {
    color: white;
    font-size: 1.5rem;
    transition: all ease-in-out 0.2s;
}

.social li a:hover {
    color: #83bb4f;
}

hr {
    margin-block-start: 3rem;
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 1rem;
}

hr.sc {
    margin-block-start: 0;
    width: 50%;
}

hr.thr {
    margin-block-start: 0;
    width: 25%;
}

.my-edu .edu-title h1 {
    text-align: center;
    padding-block-start: 5rem;
}

.edu-title h1 .half-underline::after {
    bottom: -0.5rem;
    width: 130%;
}

.edu-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    padding-block-start: 8rem;
    padding-block-end: 3rem;
    justify-content: space-between;
}

.edu-content .group {
    flex-basis: 36%;
    padding: 5rem;
    margin-inline: 2rem;
    margin-block: 1rem;
    margin-block-end: 12rem;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.815);
    box-shadow: -10px 10px 0 rgba(255, 255, 255, 0.712), 10px -10px 0 rgba(255, 255, 255, 0.616);
    border-right: 5px solid #252222;
    border-bottom: 3px solid #252222;
    color: rgb(0, 0, 0);
    padding: 2rem;
}

.arrow-container {
    position: relative; 
    bottom: 10rem;
    top: 13rem;
    left: -0.3rem;
}

.line {
    position: absolute;
    width: 140px;
    height: 5px; 
    background-color: #00a782;
    left: -5rem;
    top: -25%;
    transform: translateY(-50%);
}

.arrow {
    position: absolute;
    top: -25%;
    right: -5rem; 
    width: 0;
    height: 0;
    border-top: 18px solid transparent; 
    border-bottom: 18px solid transparent; 
    border-left: 20px solid #00a782; 
    transform: translateY(-50%);
}

.arrow-container-bottom {
    position: relative;
    width: 50px; 
    height: 80px; 
    top: -23.5rem;
    left: 74%;
    z-index: 9999;
}

.line-bottom {
    position: absolute;
    width: 5px; 
    height: 100%; 
    background-color: #00a782; 
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.arrow-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    border-top: 20px solid #00a782; 
}

.arrow-container-left {
    position: relative; 
    bottom: 13.5rem;
    right: 3rem;
}

.line-left {
    position: absolute;
    width: 160px;
    height: 5px; 
    background-color: #00a782;
    left: 40rem;
    top: -25%;
    transform: translateY(-50%);
}

.arrow-left {
    position: absolute;
    top: -25%;
    right: 43rem; 
    width: 0;
    height: 0;
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-right: 20px solid #00a782; 
    transform: translateY(-50%);
}
